################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*.pyc
/*.egg-info
/*__pycache__
/*.vs
/src/tensor_filter.egg-info
/src/filter_core/__pycache__
/src/image_filter/__pycache__
