################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*.pyc
/*.egg-info
/*__pycache__
/*.vs
/src/tensor_filter.egg-info
