################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*.pyc
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/TensorFilters/v17
/.vs/TensorFilters/FileContentIndex
/tensor_filter.egg-info
/*__pycache__
/*.vs
